@model Blog
@{
	ViewData["Title"] = Model?.Title;
}

@if (Model != null)
{
	<div class="card text-white bg-dark">
		@if (!string.IsNullOrEmpty(Model.ThumbnailPath))
		{
			<div class="card-img-top blog-img-container">
				<img class="blog-img" src="@Model.ThumbnailPath" alt="Blog header image">
			</div>
		}
		<partial name="../BlogHeaderPartial" />
		<div class="card-body">
			@Html.Raw(StringExtensions.ToHtml(Model.Content))
		</div>

		<div class="card-footer text-center row">			
			<a class="col" href="~/">Return Home</a>
			<a class="col-auto" href="~/Blog/@(Model.Title).md">Raw</a>
		</div>

	</div>
}
else
{
	<div class="alert alert-secondary" role="alert">
		Oops, there's nothing here! <a href="~/">Go Back.</a>
	</div>
}