@model Blog
@{
	ViewData["Title"] = Model?.Title;
	ViewData["Keywords"] = Model?.Tags;
	ViewData["Description"] = StringExtensions.SafeSubstring(StringExtensions.StripMarkdown(Model?.Content), 160);
}

@if (Model != null)
{
	<div class="card text-white bg-dark">
		@if (!string.IsNullOrEmpty(Model.ThumbnailPath))
		{
			<div class="card-img-top blog-img-container">
				<img class="blog-img" src="@Model.ThumbnailPath" alt="Blog header image">
			</div>
		}
		<partial name="../BlogHeaderPartial" />
		@if (Model.Headers.Count() > 2)
		{
			<div class="contents-container">
				@foreach (var h in Model.Headers)
				{
				<div class="contents-indent-@h.Indent">
					<a href="#@h.Link">@(h.Indent > 1 ? "┗" : "") @StringExtensions.StripMarkdown(h.Content)</a>
				</div>
				}
			</div>
		}
		<div class="card-body">
			@Html.Raw(StringExtensions.ToHtml(Model.Content))
		</div>
		<div class="card-footer text-center row">
			<a class="col" href="~/">Return Home</a>
			<a class="col-auto" href="~/Blog/@(Model.Title).md">Raw</a>
		</div>

	</div>
}
else
{
	<div class="alert alert-secondary" role="alert">
		Oops, there's nothing here! <a href="~/">Go Back.</a>
	</div>
}