@{
	ViewData["Title"] = "home";
	bool anyDrawn = false;
}

@model IEnumerable<lrtw.Blog>

@foreach (lrtw.Blog blog in Model)
{
	anyDrawn = true;
	<div class="card text-white bg-dark">
		@if (!string.IsNullOrEmpty(blog.ImagePath))
		{
			<div class="card-img-top blog-img-container blog-img-container-sm">
				<img class="blog-img" src="@blog.ImagePath" alt="Blog header image">
			</div>
		}
		<partial name="../BlogHeaderPartial" model="blog" />
		<div class="card-body">
			@foreach (var prev in blog.Content.Skip(1).Take(2))
			{
				@Html.Raw(Markdig.Markdown.ToHtml(prev));
			}
		</div>
		<a href="~/blog/@blog.Slug">
			<div class="card-footer text-center btn-secondary">
				Read More...
			</div>
		</a>
	</div>
	<hr />
}

@if (!anyDrawn)
{
	<div class="alert alert-secondary" role="alert">
		Oops, there's nothing here! <a href="~/">Go Back.</a>
	</div>
}